<h1>Books</h1>
<% @books.each do |book| %>
<div>
  <p></p>
  <p>Title : 
  <%= link_to book_path(book.id) do %>
  <%= book.title %></p>
  <% end %>
  <p>Opinion : <%= book.body %></p>
</div>
<% end %>

<%= flash[:notice] %>
<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<P>name <%= @user.name %></P>
<p>introduction <%= @user.introduction %></p>
<% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>